<?xml version="1.0" encoding="UTF-8" ?>
<MainGrid>
  <SidePanel>
    <XMLButton PL="Moje Konto" ENG="My Account" Name="MyAccountPage" IsEnabled="true" Icon="user.png"/>
    <XMLButton PL="Zarejestruj" ENG="Register" Name="RegisterPage" IsEnabled="false" Icon="user.png"/>
    <XMLButton PL="Wyloguj" ENG="Logout" Name="LogoutPage" IsEnabled="false" Icon="user.png"/>
    <XMLButton PL="Strona Główna" ENG="Home" Name="HomePage" IsEnabled="true" Icon="home.png"/>
    <XMLButton PL="Pojazdy" ENG="Vehicles" Name="VehiclesPage" IsEnabled="true" Icon="car.png"/>
    <XMLButton PL="Historia Tankowań" ENG="Refueling History" Name="RefuelingHistoryPage" IsEnabled="true" Icon="gas-station.png"/>
    <XMLButton PL="Statystyki" ENG="Stats" Name="StatsPage" IsEnabled="true" Icon="stats.png"/>
    <XMLButton PL="Koszta" ENG="Costs" Name="CostsPage" IsEnabled="true" Icon="dollar.png"/>
    <XMLButton PL="Kopia Zapasowa" ENG="Backup" Name="BackupPage" IsEnabled="true" Icon="cloud-upload.png"/>
    <XMLButton PL="Kalkulator" ENG="Calculator" Name="CalculatorPage" IsEnabled="true" Icon="calculator.png"/>
    <XMLButton PL="Ustawienia" ENG="Settings" Name="SettingsPage" IsEnabled="true" Icon="settings.png"/>
  </SidePanel>
  <MainPanel>
    <AddButonList>
      <AddRefueling PL="Dodaj Tankowanie" ENG="Add Refueling"/>
      <AddCost PL="Dodaj Koszt" ENG="Add Cost"/>
      <AddVehicle PL="Dodaj Pojazd" ENG="Add Vehicle"/>
    </AddButonList>

    <LoginPanel>
      <UserNameText PL="Nazwa Użytkownika" ENG="Username"/>
      <PasswordText PL="Hasło" ENG="Password"/>
      <LogInButton PL="Zaloguj" ENG="Login"/>
      <RegisterButton PL="Zarejestruj" ENG="Register"/>
    </LoginPanel>

    <RegisterPanel>
      <UserNameText PL="Nazwa Użytkownika" ENG="Username"/>
      <PasswordText PL="Hasło" ENG="Password"/>
      <RePasswordText PL="Powtórz Hasło" ENG="Confirm Password"/>
      <EmailText PL="E-Mail" ENG="E-Mail"/>
      <RegisterButton PL="Zarejestruj" ENG="Register"/>
    </RegisterPanel>

    <VehiclesPage>
      <VehicleNameGrid>
        <Brand PL="Marka:" ENG="Brand:"/>
        <Model PL="Model:" ENG="Model:"/>
      </VehicleNameGrid>
      <PrimaryInfoGrid>
        <YearOfManufacture PL="Rok Produkcji:" ENG="Year Of Manufacture:"/>
        <Vin PL="Vin:" ENG="Vin:"/>
        <Plates PL="Tablice Rejestracyjne:" ENG="Plates:"/>
        <Millage PL="Przebieg:" ENG="Millage:"/>
      </PrimaryInfoGrid>
      <FuelTankInfoGrid>
        <Gasoline PL="Pojemność Baku Benzyny:" ENG="Capacity Of Gasoline Tank:"/>
        <Diesel PL="Pojemność Baku Diesel:" ENG="Capacity Of Diesel Tank:"/>
        <LPG PL="Pojemność Baku LPG:" ENG="Capacity Of LPG Tank:"/>
      </FuelTankInfoGrid>
      <CyclicalCostGrid>
        <InsuranceStartDate PL="Rozpoczęcie Okresu Ubezpieczenia:" ENG="Insurance Start Date:"/>
        <InsuranceEndDate PL="Koniec Okresu Ubezpieczenia:" ENG="Insurance End Date"/>
        <InsurancePrice PL="Koszt Obecnego Ubezpieczenia:" ENG="Insurance Price:"/>
        <InspectionStartDate PL="Data Wykonania Przeglądu Technicznego:" ENG="Last Technical Inspection:"/>
        <InspectionEndDate PL="Koniec Ważności Przeglądu Technicznego:" ENG="The Next Technical Inspection:"/>
        <InspectionPrice PL="Koszt Wykonania Przeglądu Technicznego:" ENG="Technical Inspection Price:"/>
      </CyclicalCostGrid>
    </VehiclesPage>

    <AddVehiclePage>
      <Title PL="DODAJ POJAZD:" ENG="ADD VEHICLE:"/>
      <Brand PL="Marka:" ENG="Brand:"/>
      <Model PL="Model:" ENG="Model:"/>
      <YearOfManufacture PL="Rok Produkcji:" ENG="Year of Manufacture:"/>
      <VIN PL="VIN:" ENG="VIN:"/>
      <Plates PL="Tablice Rejestracyjne:" ENG="Plates:"/>
      <VehicleMillage PL="Przebieg:" ENG="Millage:"/>
      <GasolineTank PL="Pojemność Baku Paliwa:" ENG="Gasoline Tank:"/>
      <DieselTank PL="Pojemność Baku Diesel:" ENG="Diesel Tank:"/>
      <LPGTank PL="Pojemność Baku LPG:" ENG="LPG Tank:"/>
      <InsuranceStartDate PL="Rozpoczęcie Okresu Ubezpieczenia:" ENG="Insurance Start Date:"/>
      <InsuranceEndDate PL="Koniec Okresu Ubezpieczenia:" ENG="Insurance End Date:"/>
      <InsurancePrice PL="Koszt Obecnego Ubezpieczenia:" ENG="Insurance Price:"/>
      <InspectionStartDate PL="Data Wykonania przeglądu Technicznego:" ENG="Inspection Start Date:"/>
      <InspectionEndDate PL="Koniec Ważności Przeglądu Technicznego:" ENG="Inspection End Date:"/>
      <InspectionPrice PL="Koszt Wykonania Badania Technicznego:" ENG="Inspection Price:"/>
      <AddButton PL="Dodaj Pojazd" ENG="Add Vehicle"/>
    </AddVehiclePage>

    <HomePage>
      <FuelData>
        <AverageConsumption PL="Średnie spalanie:" ENG="Average Consumption:"/>
        <LastConsumption PL="Ostatie Spalanie:" ENG="Last Consumption:"/>
        <LastFuelPrice PL="Ostatnia Cena Paliwa:" ENG="Last Fuel Price:"/>
      </FuelData>
      <CostData>
        <ThisMounth PL="Ten Miesiąc:" ENG="This Mounth:"/>
        <ThisMounthFuelCost PL="Paliwo:" ENG="Fuel:"/>
        <ThisMounthOtherCost PL="Serwisy:" ENG="Services:"/>
        <PreviousMounth PL="Poprzedni Miesiąc:" ENG="Previous Mounth:"/>
        <PreviousMounthFuelCost PL="Paliwo:" ENG="Fuel:"/>
        <PreviousMounthOtherCost PL="Serwisy:" ENG="Services:"/>
      </CostData>
      <XMLEntriesList>
        <EntriesListText PL="Ostatnie Wpisy:" ENG="Entries List:"/>
        <Date PL="Data:" ENG="Date:"/>
        <Price PL="Koszt:" ENG="Price:"/>
        <Descryption PL="Opis:" ENG="Descryption:"/>
      </XMLEntriesList>
    </HomePage>

    <AddRefuelingPage>
      <PageTitle PL="Dodaj Tankowanie:" ENG="Add Refueling:"/>
      <Liters PL="Litry:" ENG="Liters:"/>
      <PriceForLiter PL="Cena za Litr:" ENG="Price Per Liter:"/>
      <TotalPrice PL="Cena:" ENG="Total Price:"/>
      <IsFull PL="Tankowanie Do Pełna:" ENG="Full Refueling:"/>
      <CarMillage PL="Przebieg:" ENG="Vehicle Millage:"/>
      <Date PL="Data:" ENG="Date:"/>
      <Time PL="Czas:" ENG="Time:"/>
      <Comment PL="Komentarz:" ENG="Comment:"/>
      <FuelType PL="Typ Paliwa:" ENG="Fuel Type:"/>
      <ButtonText PL="Dodaj Tankowanie" ENG="Add Refueling"/>
    </AddRefuelingPage>

    <RefuelingHistoryPage>
      <RefuelingCost PL="Koszt:" ENG="Cost:"/>
      <AmountOfFuel PL="Ilość Paliwa:" ENG="Amount Of Fuel:"/>
      <PricePerLiter PL="Cena za litr:" ENG="Price Per Liter:"/>
      <Consumption PL="Spalanie:" ENG="Consumption:"/>
    </RefuelingHistoryPage>

    <CostPage>
      <Cost PL="Koszt:" ENG="Cost:"/>
      <Type PL="Typ:" ENG="Type:"/>
      <Date PL="Data:" ENG="Date:"/>
      <Comment PL="Komentarz:" ENG="Comment:"/>
    </CostPage>

    <SettingsPage>
      <Language PL="Język:" ENG="Language:"/>
      <MetricUnit PL="Jednostki Metryczne:" ENG="Metric Unit:"/>
      <Currency PL="Waluta:" ENG="Currency:"/>
      <ApplyButton PL="Zatwierdź" ENG="Confirm"/>
    </SettingsPage>

    <CalculatorPage>
      <TravelCostCalculatorBorder>
        <Distance PL="Planowana Odległość:" ENG="Distance:"/>
        <PriceForLiter PL="Cena za Litr:" ENG="Price For Liter:"/>
        <Consumption PL="Spalanie:" ENG="Consumption:"/>
        <Resoult PL="Wynik:" ENG="Resoult:"/>
        <CalculateButton PL="Oblicz" ENG="Calculate"/>
        <ErrorException PL="Nie można wykonać obliczeń, podane wartości są poprawne?:" ENG="Calculations cannot be performed, are the given values are correct?:"/>
      </TravelCostCalculatorBorder>
      <AverageFuelConsumptionCalculatorBorder>
        <ConsumedFuel PL="Spalone Paliwo:" ENG="Consumed Fuel:"/>
        <NumberOfKilometersTraveled PL="Ilość Przejechanych Kilometrów:" ENG="Number of Traveled Kilometers:"/>
        <PriceForLiterOptional PL="Cena za Litr (Opcjonalnie):" ENG="Price for Liter (Optional):"/>
        <Resoult PL="Wynik:" ENG="Resoult:"/>
        <CalculateButton PL="Oblicz" ENG="Calculate"/>
        <ErrorException PL="Nie można wykonać obliczeń, podane wartości są poprawne?:" ENG="Calculations cannot be performed, are the given values are correct?:"/>
      </AverageFuelConsumptionCalculatorBorder>
      <TravelCostCalculator PL="Kalkulator Kosztu Podróży" ENG="Travel Cost Calculator"/>
      <AverageFuelConsumptionCalculator PL="Kalkulator Średniego Spalania" ENG="Average Fuel Consumption Calculator"/>
      <Gasoline PL="Benzyna" ENG="Gasoline"/>
      <Diesel PL="Diesel" ENG="Diesel"/>
      <LPG PL="LPG" ENG="LPG"/>
      <NoVehicleException PL="Brak Pojazdów w Bazie" ENG="No Vehicles Found"/>
      <CalculateButton PL="Oblicz" ENG="Calculate"/>
    </CalculatorPage>

  </MainPanel>
</MainGrid>